@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #D72050;
  --color-secondary: #403F3F;
  --color-base-200: #F3F3F3;
  --color-base-300: #E7E7E7;
  --color-accent: #9F9F9F;

}